<!DOCTYPE html>
<html>
   <head>
      <title>New ServiceNow Access - {{ new_user_firstname }} {{ new_user_surname }}</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>ServiceNow URL</th>
            <th>ServiceNow Access</th>
            <th>Onboarding New Associate</th>
         </tr>
         <tr>
            <td>https://{{ lookup('env', 'SN_HOST') }}</td>
            <td>ServiceNow Credentials: {{ new_user_username }} / {{ new_user_password }}</td>
            <td>ServiceNow / Self-Services / IT Toobox / New associate<td>
         </tr>
      </table>
   </body>
</html>
