<!DOCTYPE html>
<html>
   <head>
      <title>New Associate Information - {{ new_user_firstname }} {{ new_user_surname }}</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Project Name</th>
            <th>GitLab Repository</th>
            <th>Windows VDI</th>
         </tr>
         <tr>
            <td>{{ gitlab_project_name }}</td>
            <td>https://gitlab.com/ansible-summit-connect/summit-connect-projects/{{ gitlab_project_name }}</td>
            <td>IP: {{ vm_puclic_ip_address }} - Access VDI: REDHAT\{{ new_user_username }} {{ new_user_password  }}</td>
         </tr>
      </table>
   </body>
</html>

